@charset "utf-8";
div.YS-content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    background-color: rgba(236, 236, 236, 0.5);
    border: 8px solid transparent;
    border-radius: 8px;
    box-shadow: 4px 4px 12px 4px rgb(0 0 0 / 15%);
    display: block;
}

div.YS-content p,
div.YS-content h3,
div.YS-content li {
    padding-top: 10px;
}

hr {
    border-radius: 0.1px;
    box-shadow: 4px 4px 12px 4px rgb(0 0 0 / 15%);
}


/* Style the buttons that are used to open and close the accordion panel */

.YS-accordion {
    position: relative;
    background-color: rgba(35, 176, 232, 0.532);
    color: #444;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.YS-active,
.YS-accordion:hover {
    background-color: #636363;
}


/* Style the accordion panel. Note: hidden by default */

.YS-panel {
    position: relative;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}